* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #783535;
}
header {
    background-color: #ae9e9e;
    color: #000000;
    text-align: center;
    padding: 30px;
    font-weight: bold;
}
span.a{
    position: absolute;
    left: 20px;
    top: 10px;
    font-size: 34px;

}
span.b{
    position: absolute;
    right: 200px;
    top: 11px;
    font-size: 28px;
}
span.img-web{
    padding: 4px;
    background-color: #fff;
    margin: 10px;
    width: 40%;
    height: 250px;
}